@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
body{
    font-family: 'Fredoka', sans-serif;
    background-color:#2C6393;
}
.title{
    color: white;
    font-size: 40px;
}
.subtitulo{
    color: white;
    font-size: 28px;

}

#mascotSelect{
display: flex;
height:100vh;
flex-direction: column;
justify-content: center;
align-items: center;
}

.tarjetas{
    display: flex;
    gap: 5px;
}
.mokeponCard{
    display: flex;
    width: 270px;
    height: 160px;
    background: #5190C6;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
}
.mokeponCard img{
    width: 150px;
    height: 130px;
}
.btnSelect{
    width: 180px;
    height: 40px;
    font-family: 'Fredoka', sans-serif;
    color:white;
    font-weight:bold;
    background: #3093C8;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    margin: 2px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

input{
display: none;
}
